In [1]:
import pandas as pd

In [2]:
pd.set_option('display.width', 85)
pd.set_option('display.max_columns', 8)

In [3]:
landtemps = pd.read_csv('data/landtempssample.csv',
                        names=['stationid','year','month','avgtemp','latitude',
                        'longitude','elevation','station','countryid','country'],
                        skiprows=1,
                        parse_dates=[['month', 'year']],
                        low_memory=False)

C:\Users\samam\AppData\Local\Temp\ipykernel_6924\1070294055.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  landtemps = pd.read_csv('data/landtempssample.csv',

In [4]:
landtemps.head(5)

,month_year,stationid,avgtemp,latitude,...,elevation,station,countryid,country
0,2000-04-01,USS0010K01S,5.27,39.9000,...,2773.7,INDIAN_CANYON,US,United States
1,1940-05-01,CI000085406,18.04,-18.3500,...,58.0,ARICA,CI,Chile
2,2013-12-01,USC00036376,6.22,34.3703,...,61.0,SAINT_CHARLES,US,United States
3,1963-02-01,ASN00024002,22.93,-34.2833,...,65.5,BERRI_IRRIGATION,AS,Australia
4,2001-11-01,ASN00028007,NaN,-14.7803,...,79.4,MUSGRAVE,AS,Australia

In [5]:
landtemps.dtypes

month_year    datetime64[ns]
stationid             object
avgtemp              float64
latitude             float64
longitude            float64
elevation            float64
station               object
countryid             object
country               object
dtype: object

In [6]:
landtemps.shape

(100000, 9)

In [7]:
landtemps.rename(columns={'month_year' : 'date'}, inplace=True)

In [8]:
landtemps.dtypes

date         datetime64[ns]
stationid            object
avgtemp             float64
latitude            float64
longitude           float64
elevation           float64
station              object
countryid            object
country              object
dtype: object

In [9]:
landtemps.avgtemp.describe()

count    85554.000000
mean        10.920770
std         11.522444
min        -70.700000
25%          3.460000
50%         12.220000
75%         19.570000
max         39.950000
Name: avgtemp, dtype: float64

In [10]:
landtemps.isnull().sum()

date             0
stationid        0
avgtemp      14446
latitude         0
longitude        0
elevation        0
station          0
countryid        0
country          5
dtype: int64

In [11]:
landtemps.dropna(subset=['avgtemp'], inplace=True)

In [12]:
landtemps.shape

(85554, 9)

In [13]:
gdp = pd.read_excel('data/GDPpercapita22.xlsx'
                    ,skipfooter=1
                    , usecols="A,C:T")

In [14]:
gdp.head()

,NaN,Unnamed: 2,Unnamed: 3,Unnamed: 4,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Dataset: Metropolitan areas,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN
1,Variables,"GDP per capita (USD, constant prices, constant...",NaN,NaN,...,NaN,NaN,NaN,NaN
2,Unit,US Dollar,NaN,NaN,...,NaN,NaN,NaN,NaN
3,Year,2000,2001,2002,...,2014.0,2015,2016,2017
4,Metropolitan areas,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN

In [15]:
gdp.shape

(735, 19)

In [16]:
gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 735 entries, 0 to 734
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nan          735 non-null    object
 1   Unnamed: 2   733 non-null    object
 2   Unnamed: 3   731 non-null    object
 3   Unnamed: 4   731 non-null    object
 4   Unnamed: 5   731 non-null    object
 5   Unnamed: 6   731 non-null    object
 6   Unnamed: 7   731 non-null    object
 7   Unnamed: 8   731 non-null    object
 8   Unnamed: 9   731 non-null    object
 9   Unnamed: 10  731 non-null    object
 10  Unnamed: 11  731 non-null    object
 11  Unnamed: 12  731 non-null    float64
 12  Unnamed: 13  731 non-null    float64
 13  Unnamed: 14  731 non-null    float64
 14  Unnamed: 15  731 non-null    float64
 15  Unnamed: 16  731 non-null    float64
 16  Unnamed: 17  731 non-null    object
 17  Unnamed: 18  731 non-null    object
 18  Unnamed: 19  731 non-null    object
dtypes: float64(5), object(14)
memory usage: 109.2+ KB

In [17]:
for col in gdp.columns[1:] : 
    gdp[col] = pd.to_numeric(gdp[col], errors='coerce')

In [18]:
gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 735 entries, 0 to 734
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nan          735 non-null    object
 1   Unnamed: 2   194 non-null    float64
 2   Unnamed: 3   487 non-null    float64
 3   Unnamed: 4   516 non-null    float64
 4   Unnamed: 5   604 non-null    float64
 5   Unnamed: 6   624 non-null    float64
 6   Unnamed: 7   652 non-null    float64
 7   Unnamed: 8   696 non-null    float64
 8   Unnamed: 9   696 non-null    float64
 9   Unnamed: 10  711 non-null    float64
 10  Unnamed: 11  711 non-null    float64
 11  Unnamed: 12  731 non-null    float64
 12  Unnamed: 13  731 non-null    float64
 13  Unnamed: 14  731 non-null    float64
 14  Unnamed: 15  731 non-null    float64
 15  Unnamed: 16  731 non-null    float64
 16  Unnamed: 17  730 non-null    float64
 17  Unnamed: 18  730 non-null    float64
 18  Unnamed: 19  730 non-null    float64
dtypes: float64(18), object(1)
memory usage: 109.2+ KB